<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>

    <style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 10px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>


<div class="topnav">
    <pre>
    {%- for item in current_menu.children recursive -%}
    <a href="{{ item.url}}">{{ item.text }}     </a>
    {%- if item.children -%}
      {{ loop(item.children) }}
    {%- endif -%}
    {%- endfor -%}
    </pre>
</div>


<h1>WEAKNESS TABLE</h1>
{% for item in data_w %}
<tr>
    <td>{{item[0]}}</td>
    <br>

</tr>
{% endfor %}

<h1>Syndromes TABLE</h1>
{% for item in data_s %}
<tr>
    <td>{{item[0]}}</td>
     <br>
</tr>
{% endfor %}

<h1>Medicines TABLE</h1>
{% for item in data_m %}
<tr>
    <td>{{item[0]}}</td>
     <br>
</tr>
{% endfor %}


<h1>New Weakness</h1>
     <form action = "/new_weakness" method = post>
         <fieldset>
            {{ form.hidden_tag() }}

            {{ form.data_field.label }} {{ form.data_field }} <br/>

            {{ form.submit }}


            </div>

         </fieldset>
      </form>

<h1>New Medicine</h1>
     <form action = "/new_medicine" method = post>
         <fieldset>
            {{ form.hidden_tag() }}

            {{ form.data_field.label }} {{ form.data_field }} <br/>

            {{ form.submit }}


            </div>

         </fieldset>
      </form>

<h1>New Syndrom</h1>
     <form action = "/new_syndrom" method = post>
         <fieldset>
            {{ form.hidden_tag() }}

            {{ form.data_field.label }} {{ form.data_field }} <br/>

            {{ form.submit }}


            </div>

         </fieldset>
     </form>

<h1>Delete Weakness</h1>
     <form action = "/del_weakness" method = post>
         <fieldset>
            {{ form.hidden_tag() }}

            {{ form.data_field.label }} {{ form.data_field }} <br/>

            {{ form.submit }}


            </div>

         </fieldset>
      </form>

<h1>Delete Medicine</h1>
     <form action = "/del_medicine" method = post>
         <fieldset>
            {{ form.hidden_tag() }}

            {{ form.data_field.label }} {{ form.data_field }} <br/>

            {{ form.submit }}


            </div>

         </fieldset>
      </form>

<h1>Delete Syndrom</h1>
     <form action = "/del_syndrom" method = post>
         <fieldset>
            {{ form.hidden_tag() }}

            {{ form.data_field.label }} {{ form.data_field }} <br/>

            {{ form.submit }}


            </div>

         </fieldset>
     </form>




</body>
</html>