<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>

    <style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 10px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>


<div class="topnav">
    <pre>
    {%- for item in current_menu.children recursive -%}
    <a href="{{ item.url}}">{{ item.text }}     </a>
    {%- if item.children -%}
      {{ loop(item.children) }}
    {%- endif -%}
    {%- endfor -%}
    </pre>
</div>



<h1>Predicting your weakness </h1>
     <form action = "/trends" method = post>
         <fieldset>
            {{ form.hidden_tag() }}

            Enter weakness you want to know about {{ form.data_field }} <br/>

            {{ form.submit }}


            </div>

         </fieldset>
      </form>

</body>
</html>